:root{
  --general--weight:bold;
  --general-align:center;
  --general-size:25px;
}


.container  {
  background-color: black;
  border-radius: 4px;
}

.logo-font{
  color: white;
  font-size: 30px;
  text-align: var(--general-align);
  font-weight: var(--general--weight);
}

.container p  {
  color: white;
  text-align: var(--general-align);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: var(--general-size);
  border-radius: 4px;
  font-size: var(--general-size);
  font-weight: var(--general--weight);
}

